{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

<div class="container mx-auto">
    <h1 class="text-2xl font-bold mb-4">Homepage</h1>
    <a href="{{ path('random_images') }}" class="btn btn-primary">Mostra 10 Immagini Random</a>

    <button id="toggleButton" onclick="toggleViews()" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded">Toggle
        View</button>

    <div id="tableView" {% if viewMode=='table' %}style="display: block;" {% else %}style="display: none;" {% endif %}>
        <h2 class="text-xl font-bold mb-2">Table View</h2>
        <table class="table-auto w-full">
            <thead>
                <tr>
                    <th class="px-4 py-2">Title</th>
                    <th class="px-4 py-2">Image</th>
                    <th class="px-4 py-2">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td class="border px-4 py-2">{{ post.title }}</td>
                    <td class="border px-4 py-2"><img src="{{ post.image }}" alt="Image"></td>
                    <td class="border px-4 py-2">{{ post.date|date('d/m/Y') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="gridView" {% if viewMode=='grid' %}style="display: block;" {% else %}style="display: none;" {% endif %}
        class="hidden">
        <h2 class="text-xl font-bold mb-2">Grid View</h2>
        <div class="grid grid-cols-3 gap-4">
            {% for post in posts %}
            <div class="border p-4">
                <img src="{{ post.image }}" alt="Image" class="mb-2">
                <h5 class="text-lg font-bold mb-2">{{ post.title }}</h5>
                <p class="text-gray-600">{{ post.date|date('d/m/Y') }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    {# Visualizza la paginazione #}
    <div class="pagination justify-center flex">
        {{ knp_pagination_render(posts) }}
    </div>
</div>

<script>
    function toggleViews() {
        var tableView = document.getElementById('tableView');
        var gridView = document.getElementById('gridView');

        if (tableView.style.display === 'none') {
            tableView.style.display = 'block';
            gridView.style.display = 'none';
            // Aggiorna il parametro nell'URL o lato server per salvare lo stato della vista
            history.pushState({}, null, "?view=table");
        } else {
            tableView.style.display = 'none';
            gridView.style.display = 'block';
            // Aggiorna il parametro nell'URL o lato server per salvare lo stato della vista
            history.pushState({}, null, "?view=grid");
        }
    }
</script>


{% endblock %}